.custom-modalbox {
    mat-dialog-container {
      padding-top: 0px;

      h1{
        padding: 0;
        margin : 0px;
        margin-right : -24px;
        margin-left : -24x;
        color:#c02d2d;
        background-color:#45a3aa;
        // background: #E60000;
      }
    }
}
