

<!-- <h1><p style="background-color: rgb(255, 0, 0);">Your ongoing exam is under review by invigilator!
    Please hold on, Invigilator will get back to you!</p></h1> -->
<!-- <span class="content-span full-width"  style="color:#45a3aa"> Invigilator review in progress</span> -->
<!-- <div>
    <div class="content-container" style="background-color: rgb(255, 0, 0);"> 
        <mat-dialog-content style="color:#45a3aa; background-color: rgb(255, 0, 0);"><h1><p>Your ongoing exam is under review by invigilator!
            Please hold on, Invigilator will get back to you!</p></h1></mat-dialog-content>
    </div>
</div> -->
    <!-- <mat-dialog-title style="color:#f50606a1;"><h1><u>Invigilator communication:</u></h1></mat-dialog-title>
    <mat-dialog-content style="color:#f50606a1;"><h2>Your ongoing exam is under review by invigilator!Please hold on, Invigilator will get back to you!</h2></mat-dialog-content> -->
    <h1 mat-dialog-title> Your ongoing exam is under review by invigilator!Please hold on, Invigilator will get back to you!</h1>