<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="assets/images/hog2.png"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/exammenu">Exam List</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/invpage">Invigilator Page</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="/"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
            </li>
        </ul>
    </div>
</nav>