<app-header></app-header>
<form>
  <fieldset>
    <legend>Please select your exam</legend>
    <input type="radio" id="radio1" name="radios" checked>
    <label for="radio1">Introduction to Myths and Magic Part 1 : Final Exam</label><br>
    <input type="radio" id="radio2" name="radios">
    <label for="radio2">The general knowledge exam of magic and the strange world</label><br>
    <input type="radio" id="radio3" name="radios">
    <label for="radio3">Advance study : Potion Masterclass Exam</label>
  </fieldset>
  <button (click)="startExam()">Submit</button>
</form>
